:root {
  interpolate-size: allow-keywords;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  tap-highlight-color: transparent;
}

body {
  background: #0d0d0d;
  color: var(--text-color);
  // font-family: "GeorgiaWeb", Georgia, serif !important;
  font-weight: normal;
}

.page-wrapper {
  transition: translate 0.18s ease-in !important;

  &.shifted {
    translate: -80%;
  }

  &.max-height {
    min-height: 100vh;
  }
}

button,
input,
textarea,
select {
  font-family: "DM Sans", sans-serif;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-50%);
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.popup-button {
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  color: #ffffff;
  background-color: #007c89;
  padding: 10px 18px;
}

.swal2-popup.privacy-popup {
  width: 90vw;
  max-width: 800px;
  border-radius: 20px;
  font-size: 0.8rem;

  h3 {
    font-size: 1rem;
    margin-top: 10px;
  }

  .last-updated {
    margin-top: 15px;
    font-size: 1.1rem;
    font-weight: bold;
  }

  @media (max-width: 850px) {
    padding: 0;
    padding-bottom: 20px;
  }
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.object-cover {
  object-fit: cover;
  // z-index: -1;
}

.grecaptcha-badge {
  visibility: hidden;
}
