/* @font-face {
  font-family: "GeorgiaWeb";
  src: url("/fonts/georgia/georgia.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GeorgiaWeb";
  src: url("/fonts/georgia/georgiai.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "GeorgiaWeb";
  src: url("/fonts/georgia/georgiab.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "GeorgiaWeb";
  src: url("/fonts/georgia/georgiaz.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
  font-display: swap;
} */
